* {
    box-sizing: border-box;
    margin: 0px auto;
    scroll-behavior: smooth;
}

.section-2 h1 {
    position: relative;
}

.section-2 h1::after{
    content: "";
    position: absolute;
    display: block;
    background-color: red;
    width: 10%;
    height: 2px;
    left: 50%;
    top: 90%;
    transform: translate(-50%,0%);
    
}

.section-2 p{
    font-size: large;
}